<div class="divFooter">
    <div class="centrar bg-dark pb-5"  style="margin-top: 0%;">
        <div class="col-md-3 color-text margenes">
            <div class="card-body">
                <h6 class="card-title mb-2">Conócenos</h6>
                <p class="card-text"><a class="enlaces-footer" href="#">Trabajar en Slava-Shop</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Información corporativa</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Departamento de prensa</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Contactanos</a></p>
            </div>
        </div>
        <div class="col-md-3 color-text margenes">
            <div class="card-body">
                <h6 class="card-title mb-2">Gana dinero con nosotros</h6>
                <p class="card-text"><a class="enlaces-footer" href="#">Vender en Slava-Shop</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Anuncia tus productos</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Oportunidades de negocio</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Protege y desarrolla tu marca</a></p>
            </div>
        </div>
        <div class="col-md-3 color-text margenes">
            <div class="card-body">
                <h6 class="card-title mb-2">Podemos ayudarte</h6>
                <p class="card-text"><a class="enlaces-footer" href="#">Devolver o remplazar productos</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Gestión en tu negocio</a></p>
                <p class="card-text"><a class="enlaces-footer" href="#">Ayuda</a></p>
            </div>
        </div>
    </div>
    <div class="centrar-copy pt-3 pb-3" style="background-color: #1c1f21">
        <p class="p-footer"><a class="enlaces-footer" href="#">Condiciones de uso</a> | <a class="enlaces-footer" href="#">Aviso de privacidad</a></p>
        <p class="p-footer">Copyright ©2023, Slava-shop, Inc. o sus afiliados</p>
    </div>
</div>