div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-left: 8px;

    /*border: solid 1px white;*/
}
.head {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
}
.divNav {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.divSearch{
    width: 35%;
}
.divSearch form {
    width: 100%;
}

.divNavRight {
    margin-left: 2%;
    justify-content: right;
}
.imgLogo:active {
    background-color: transparent;
}
.divCPValidate {
    display: flex;
    padding: 5px;
}
.md {
    height: 350px;
    margin-left: 30%;
    margin-right: 30%;
}

.notifiation {
    margin-left: 27px;
    justify-content: center;
    text-align: center;
}

.btnCarr{
    border: none;
    height: 30px;
    width: 30px;
    background-image:url("./imgHeader/carrito-de-compras.png");
    background-size: cover;
}

.btnCarr:active {
    background-color: transparent
}

.not {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 6px;
    font-size: 12px;
    justify-content: center;
    cursor: pointer;
}
.modeAdmin {
    display: inline-block;
}

.modeAdmin h6 {
    font-size: 12px;
    color: rgb(0, 255, 251);
}
a:hover{
    cursor: pointer;
}
a:active {
    background-color: rgb(218, 218, 218);
    color: black;
}

.Name{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    width: 40%;
    text-align: center;
    border-radius: 5px;

    background: #fff;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.032),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048),
    0 100px 80px rgba(0, 0, 0, 0.08);
}

.refProduct {
    width: 100%; 
    text-align: left; 
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
}

.Name ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.Name ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400px;
    padding: .5rem;
    border-bottom: solid 1px #f1f1f1;
}

.Name ul li:hover .name{
    background-color: #002cfa;
    color: #fff;
}

.Name ul li:last-child{
    border-bottom: transparent;
}

.Name ul li .refProduct {
    padding: .35rem;
    transition:  all ease 150ms;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
