<div class="bodyStyle">
    <div class="bodyP">
        <h5>Compras</h5><hr>
        <table class="table table-hover">
            <tbody>
                <tr class="rowCart">
                    <td class="align-middle"><div class='imgC'><div class='img-container'><img alt='Imagen de producto'></div></div></td>
                    <td class="align-middle"><a class="aLink">nombre</a></td>
                    <td class="align-middle"><h6 class="hPrecio">$ 343</h6></td>
                    <td class="align-middle">
                        <div class="cantidad">
                            <button class="btn btn-danger"><</button>
                            1
                            <button class="btn btn-success">></button>
                        </div>
                    </td>
                    <td class="align-middle"><button class="btn btn-danger">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>