.bodyStyle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    margin-top: 82px;
    background-color: #e1e1e1;
    background-size: 100%;
    padding: 30px;
    align-items: center;
    height: 100vh;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
